# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
.env
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Streamlit
.streamlit/secrets.toml
